# Copie este archivo como .env y coloque sus valores reales (el .env no se sube a git)
NUXT_COMET_API_TOKEN=ctcms_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NUXT_COMET_URL=http://cms-una.gt.tc
NUXT_COMET_WORKSPACE=default
